canvas{
    background: rgb(2, 155, 99);
}
.info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.score {
    margin-left: 20px;
    font-size: 40px;
}
button{
    padding: 20px;
    background: rgb(102, 0, 255);
    color: white;
    border: 0;
}